node_modules/
lib/
.eslintrc.json
next-env.d.ts
nodemon.json
mocharc.json
package.json
package-lock.json
tsconfig.json
mocharc.json
public/
.build/
.next/
cache/
artifacts/
**/*.md
.github/**/**.*
.prettierrc
.jshintrc
.vscode/settings.json
